<div mat-dialog-title>
    <h1>User Form</h1>
</div>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput type="text" placeholder="Ex. Omar" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Bouachir" formControlName="lastName">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Age</mat-label>
                <input matInput placeholder="Ex. 25" type="number" formControlName="age">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>salary</mat-label>
                <input matInput placeholder="Ex. 2000" type="number" formControlName="salary">
                <mat-hint>In rupees</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input matInput type="text" placeholder="Ex. Number" formControlName="contactNumber">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput type="text" placeholder="Ex. Nabeul" formControlName="address">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{userData ? 'Update': 'Save'}}</button>
    </div>
</form>